.main-layout {
    padding: 10px 0 0;
    min-height: calc(100vh - 162px);
    text-align: center;
    max-width: $max-width;
    margin: auto;
}
@include small-breakpoint {
    .main-layout {
        padding: 10px 0 0;
        min-height: calc(100vh - 135px);
        max-width: $max-width;
        margin: auto;
    }
}