// .currency-input {
//     position: relative;
//   }
  
// .currency-input > i {
// position: absolute;
// display: block;
// transform: translate(0, -50%);
// top: 50%;
// pointer-events: none;
// width: 25px;
// text-align: center;
//     font-style: normal;
// }

.filter-bar-form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: $max-width;
    margin: auto;
    align-content: space-between;
}

.form-element {
    display: inline-flex;
    margin: 20px;
}

.currency-input {
    position: relative;
    span {
        position: absolute;
        display: block;
        transform: translate(0, -50%);
        top: 49%;
        pointer-events: none;
        width: 25px;
        text-align: center;
        font-style: normal;
    }
    input {
        padding-left: 25px;
        padding-right: 0;
        min-width: 260px;
    }
}