// breakpoints
$mobile: 620px;
$tablet: 800px;
$desktop: 1200px;

/* Typography */

$font-size: 1.25rem;
$body-font-size: 1.5rem;
$font-style: normal;
$font-variant: normal;
$font-weight: normal;
$font-color: #404040;
$light-font-color: rgba(0, 0, 0, 0.6);
$font-family: -apple-system, BlinkMacSystemFont, 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
$font-family-secondary: -apple-system, BlinkMacSystemFont, 'Open-Sans', Helvetica Neue, Helvetica, Arial, sans-serif;
$line-height: 2.1em;
$max-width: 1000px;
$primary-color: #6a75ff;